{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about-section">
  <h1>О нас</h1>
  <p>Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии
      для предварительного просмотра макета и визуальных макетах.Lorem Ipsum является текст-заполнитель обычно
      используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных
      Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для
      предварительного просмотра макета и визуальных макетах.макетах.Lorem Ipsum является текст-заполнитель обычно
      используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных
      макетах.</p>
</div>
    <div>
    <h2 style="text-align:center">Наша Команда</h2>
    </div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="" alt="" style="width:100%;">
      <div class="container">
        <h2>Игорь Фролов</h2>
        <p class="title">Менеджер</p>
          <p>Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии
      для предварительного просмотра макета и визуальных макетах.Lorem Ipsum является текст-заполнитель обычно
      используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных
      Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для
      предварительного просмотра макета и визуальных макетах.макетах.Lorem Ipsum является текст-заполнитель обычно
      используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных
      макетах.</p>
{#        <p>jane@example.com</p>#}
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="" style="width:100%">
      <div class="container">
        <h2>Вася</h2>
        <p class="title">Охранник</p>
          <p>Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии
      для предварительного просмотра макета и визуальных макетах.Lorem Ipsum является текст-заполнитель обычно
      используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных
      Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для
      предварительного просмотра макета и визуальных макетах.макетах.Lorem Ipsum является текст-заполнитель обычно
      используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных
      макетах.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="" style="width:100%">
      <div class="container">
        <h2>Саня Мирошник</h2>
        <p class="title">Егерь</p>
          <p>Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии
      для предварительного просмотра макета и визуальных макетах.Lorem Ipsum является текст-заполнитель обычно
      используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных
      Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для
      предварительного просмотра макета и визуальных макетах.макетах.Lorem Ipsum является текст-заполнитель обычно
      используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных
      макетах.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}